@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;1,100&display=swap');

* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
ul{
    list-style-type: none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.nav1{
    display: flex;

}

.nav1 li{
    padding: 20px;
    cursor: pointer;

}
.imgTenis{
    animation: imgTenis 3s infinite;
    order: 1;
}
@keyframes imgTenis {
    0% {opacity: 0%}
    25% {transform: translate(-20px); opacity: 100%}
    100% {opacity: 20%}
}

.nav1 li a{
    text-decoration: none;
    color: black;
  

}
.nav1 li a:hover{
    color: gray;
}
.checkbtn{
  
    display: none;
}
#check{
    display: none;
}
.nav2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.nav2 li{
    padding: 10px;
    cursor: pointer;

}

.nav2 li a{
    text-decoration: none;
    color: white;

}
.flexNav{
    display: flex;
    flex-grow: 800px;
}
.p1{
    position: relative;
    left: 50px;
    font-size: 2rem;
    font-weight: bold;
}

.article1{
    display: flex;
    justify-content: right;
    width: 600px;
    height: 150px;

}
.article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 150px;
}
.button{
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #8B48BF;
    cursor: pointer;
}

.button:hover{
    opacity: 0.5;
    transition: all 1s;
}
.cajaButton{
    position: relative;
    top: 100px;
    bottom: 300px;
}

.button2{
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #8B48BF;  
}
.button2Padding{
    padding: 35px
}
.button3{
    color: #8B48BF;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #FFFFFF;  
    border: solid 1px #8B48BF;
    cursor: pointer;
}
.button3:hover{
    background-color: gray;
    color:white;
    border: solid 1px white;
    transition: all 1s;
}

.button3Padding{
    padding: 45px
}
.button4{
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #8B48BF;
    cursor: pointer;
}

.button4:hover{
    opacity: 0.5;
    transition: all 1s;
}
.button5{
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #8B48BF;
    cursor: pointer;
}

.button5:hover{
    opacity: 0.5;
    transition: all 1s;
}

.logo{
    padding: 20px;
}
.contenedor1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}
.contenedor2{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #8B48BF;
    padding: 40px;
}
.contenedor3{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.contenedor4{
    display: flex;
    justify-content: center;  
}
.contenedor5{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    padding:10px;    
}
.contenedor5 div{
    padding: 10px;
}
.contenedor6{
    display: flex;
    padding: 30px;
}
.contenedor7{
    display: flex;
    justify-content: space-between;
    background-color: #8B48BF;
    color: white;
    padding: 20px;
    margin-top: 180px;
}
.live{
    display: flex;
    flex-direction: column;
    text-align: right;   
}  
.live div{
    padding:15px;
}
.form1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
} 
.form1 input{
    padding: 10px 50px;
    border-radius: 25px;
    position: relative;
    right: 40px;
    top: 30px;   
    transition: 1s;
}
.form1 input:hover{
    background-color: #8B48BF;
    color: white;
    transition: 1.5s;
    border: solid 4px #3CDDF3;
}
.form1 button{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #8B48BF;
    color: white;
    border: solid 1px white;
    position: relative;
    top: 30px;
    right: 20px;
}

.form1 button:hover{
    background-color: #3CDDF3;
    transition: 1s;
    color:white;
    cursor: pointer;
}
.h6Footer{
    opacity: 0.5;
    position: relative;
    top: 100px;
    right: 10px;
    left:100px;
}
.logosFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    color: white;
 
}
.item5{
    display: none;
}
@media(max-width:480px){
   
    .main{
       width: 100%;
    }
   .checkbtn{
        display: flex;
        font-size: 50px;
        position: relative;     
        line-height: 100px;        
        cursor: pointer;
        float: right;
   
    }
    .nav1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 50vh;
        background-color: #3CDDF3;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s; 
    }
    .nav1 li{
        display: block;
        line-height: 10px;
    }
    .nav1 li a{
        font-size: 1rem;
        color: white;
    }
    .nav li a:hover, li a.active{
        background-color: none;
        color: white;

    }
    #check:checked ~ .nav1{
        left: 0;
    }  
  
    .contenedor1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;    
    } 
    .imgTenis{
        width: 100%;
        animation: none;
    }
    .contenedor2{
        display: flex;
        flex-direction: column;    
        align-items: center; 
        justify-content: center;      
        color: white;
        background-color: #3CDDF3;
        width: 100%;         
    }    
    .contenedorNone{
        display: none;
    }
    .contenedor3{
        display: flex;
        flex-direction: column;
        width: 100%;       
    }
    .article1{
        width: 100%;
    }
    .article2{
        background-color: #FAFAFA;
        width: 100%;
        height: 100%;
    }
    .tituloMovil{
        background-color: #8B48BF4D;        
    }
    .button{
        display: none;
    }
    .button2Padding{
        padding: 0px;
    }
    .contenedor4{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .contenedor5{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .contenedor6 div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;        
        padding: 10px;        
    }
    .contenedor7{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:  #3CDDF3;
        color: white;
        width: 100%;            
    }
    .button3{
        background-color: #232C50;
        color: white;
        border: solid white 1px;
    }
    .button3:hover{
        background-color: gray;
        color: white;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .item1{
        order: 1;
    }
    .item2{
        position: relative;
        top: 40px;
    }
   .item3{
        display: flex;
        align-items: center;
        order: -1;
   }
   .item5{
        display: flex;
        color: white;
        opacity: 0.5;
        order: 1;
        margin-top: 10px;
        margin-bottom: 50px;      
    }
   .item4{
        display: none;
    }
   
   .h6Footer{
        order: 1;
   }
    .logos{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
     
    }
    .logoPrincipal{
        position: relative;
        top: 20px;
        left: 140px;
        width: 100px;
        height: 30px;
       
    }
    .form1{
        width: 100%;
        position: relative;
        left: 40px;
    }
    .logosFooter{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        color: white;
        width: 100%;
    } 
}